.build/
binary/
binary.modified_timestamps
build.log
cache/
chroot/
chroot.files
chroot.packages.install
chroot.packages.live
config/binary
config/bootstrap
config/chroot
config/common
config/source
live-image-amd64.*
initrd.img-*
vmlinuz-*
wget-log*
